@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Somar';
  src: url('./assets/fonts/alfont_com_SomarGX.ttf') format('truetype');
}
:root {
  font-family: 'Somar', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
}
#root{
  height: 100%;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}
h1{
  margin: 0;
}
p{
  margin: 0;
}